.post {
    width: auto;
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.post .postInfo p {
    color: var(--third)
}

.post .profilePostInfo {
    display: flex;
    gap: 10px;
    width: 100%;
    position: relative;
}

.post .profilePostInfo svg:last-child{
    margin: auto 0 auto auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.post .profilePostInfo img {
    object-fit: cover;
    border-radius: 100px;
}

.post .interactions {
    height: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.post .interactions > .heart, .post .interactions svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.post .details {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: var(--secondary);
    list-style-type: none;
    padding: 5px;
    box-shadow: 0px 0px 30px 1px #78787828;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0 !important;
}

.post .details button {
    padding: 10px 30px;
    border-radius: 5px;
}

.post .details button:hover {
    background-color: var(--light);
}

.post .profileInfoNav .extra {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    gap: 5px;
}

.post .profileInfoNav {
    box-shadow: 0px 0px 30px 1px #78787828;
    position: absolute;
    top: 45px;
    left: 10px;
    width: 95%;
    z-index: 10;
}

.post .profileInfoNav .aboutMeP {
  font-size: 12px;
  color: var(--shade);
  font-weight: 500;
}