.trendingCard {
  background-color: var(--secondary);
  border-radius: 10px;
}

.trendingCard > .top {
  margin: auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.trendingCard > .top svg {
  width: 35px;
  height: 35px;
  display: none;
}

.trendingCard > p {
  text-decoration: underline;
}

.trendingCard .trends {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  padding: 0 20px;
  padding-bottom: 20px;
  height: auto;
  overflow-y: hidden;
  gap: 10px;
}

.trendingCard .trends {
  height: auto;
  transition: all 1s;
}

@media (max-width: 767px) {
  .trendingCard .trends {
    height: 0px;
    padding-bottom: 0px;
  }

  .trendingCard .trends.active {
    padding-bottom: 20px;
    height: auto;
  }
  .trendingCard > .top {
    padding: 13px 20px;
  }

  .trendingCard > .top svg {
    display: block;
  }
}
