.uploadPost {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 10px;
}

.uploadPost .input {
  display: flex;
  gap: 10px;
}

.uploadPost .input > textarea {
  height: 20px;
  padding: 10px 10px;
  overflow-y: hidden;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--light);
  transition: all 0.5s;
  resize: none;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
    margin-top: 15px;
}

.uploadPost button {
    background-color: var(--third);
    color: var(--secondary);
    padding: 10px 20px;
    border-radius: 10px;
}